# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Sublime files
*.sublime-project
*.sublime-workspace

*.png
*.out
*_synth.dat
*_top_tiers.dat
!AMRs/*.png
.~*
runs/2nd_run/output/*
runs/3rd_run/output/*
runs/4th_run/output/*
runs/5th_run/output/*
runs/6th_run/output/*
runs/7th_run/output/*
runs/8th_run/output/*
runs/9th_run/output/*
runs/10th_run/output/*
runs/11th_run/output/*
runs/12th_run/output/*
runs/13th_run/output/*
runs/14th_run/output/*
runs/15th_run/output/*
runs/16th_run/output/*
runs/17th_run/output/*
runs/18th_run/output/*
runs/19th_run/output/*
runs/20th_run/output/*
runs/21th_run/output/*
runs/22nd_run/output/*
runs/23rd_run/output/*
runs/23rd_run/input/*
OCs_data/MC_all/*
